<tr>
  <td><%= link_to "#{event.id}","#"%></td>
  <td><%= image_tag event.image.url(:small), class:"admin-product-image" %></td>
  <td>
    <button class="btn btn btn-primary btn-s">update image</button>
  </td>
  <td><input type="text" value="<%="#{event.name}"%>"" name="event_name"></td>
  <td>
    <select>
      <option value="venue-pepsi-center">Pepsi Center</option>
      <option value="venue-red-rocks-ampitheatre">Red Rocks Ampitheatre</option>
      <option selected="selected" value="venue-colorado-convention-center">Colorado Convention Center</option>
    </select>
  </td>
  <td>
    <input type="date" name="event_date" value="2016-06-21"; class="form-control form-control-sm search-form">
  </td>
  <td>
    <input type="time" name="event_time" class="form-control form-control-sm" value = "08:30:00">
  </td>
  <td>
    <select>
      <option value="category-sports">sports</option>
      <option value="category-concerts">concerts</option>
      <option selected="selected" value="category-conventions">conventions</option>
      <option value="category-popups">popups</option>
      <option value="category-festivals">festivals</option>
      <option value="category-comedy">comedy</option>
    </select>
  </td>
  <td><input type="text" value="tech, multi-day" name="event_tags"></td>
  <td>
    <select>
      <option value="upcoming">upcoming</option>
      <option selected="selected" value="cancelled">cancelled</option>
    </select>
  </td>
  <td>
    <button class="btn btn-checkout btn-s">update event details</button>
  </td>
</tr>
