<h3 class="inactive-<%= params[:inactive] %> admin-product-index-header">my listings</h3>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
    <thead>
      <tr>
        <th>listing id</th>
        <th>row number</th>
        <th>seat number</th>
        <th>price</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @listings.each do |listing| %>
      <tr>
        <th><%= link_to listing.id, listing_path(listing) %></th>
        <th><input type="text" value="45" name="row number"></th>
        <th><input type="text" value="45" name="seat number"></th>
        <th>
          <input type="text" value="$100" name="price"></th>
        </th>
        <th>listed</th>
        <th>
          <button class="btn btn-checkout btn-s">update listing</button>
        </th>
        <th>
          <button class="btn btn-danger btn-s">remove listing</button>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
