<h3 class="inactive-<%= params[:inactive] %> admin-product-index-header">my listings</h3>
<br>
<div id="listings">
  <% @listings.each do |listing| %>
    <%= render 'edit_form', {listing: listing} %>
  <% end %>
</div>
