<h3 class="inactive-<%= params[:inactive] %> admin-product-index-header">my listings</h3>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
    <thead>
      <tr>
        <th>listing id</th>
        <th>row number</th>
        <th>seat number</th>
        <th>status</th>
        <th>price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do %>
      <tr>
        <th><%= link_to '22', '#' %></th>
        <th><input type="text" value="45" name="row number"></th>
        <th><input type="text" value="45" name="seat number"></th>
        <th>
          <select>
            <option value="active">active</option>
            <option value="cancelled">cancelled</option>
            <option selected="selected" value="status-paid">paid</option>
          </select>
        </th>
        <th>
          <input type="text" value="$100" name="price"></th>
        </th>
        <th>
          <button class="btn btn-checkout btn-s">update listing</button>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
