<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 category-landing">
      <a href="/sports">
      <div class="text-center category-unit sports-landing category-unit-coffee">
          <h1>sports</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/concerts">
      <div class="text-center category-unit concerts-landing">
          <h1>concerts</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/conventions">
      <div class="text-center category-unit conventions-landing category-unit-gifts">
          <h1>conventions</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/popups">
      <div class="text-center category-unit popups-landing category-unit-coffee">
          <h1>pop-ups</h1>
      </div>
    </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href= "/festivals" class="festival-link">
      <div class="text-center category-unit festivals-landing">
          <h1>festivals</h1>
      </div>
      </a>
    </div>
    <div class="col-sm-4 category-landing">
      <a href="/comedy">
      <div class="text-center category-unit comedy-landing category-unit-gifts">
          <h1>comedy</h1>
      </div>
    </a>
    </div>
  </div>
</div>
