<div class="navbar-nav pull-right">
<ul class="nav pull-left user-cart">
  <li class="pull-right nav-icon">
    <a id="signin" href="/login" style="color:#777; margin-top: 10px;">sign in</a>
  </li>
  <%= render partial: "shared/user_functions" %>
</ul>
</div>
