<nav role="navigation" class="navbar navbar-default custom-navbar navbar-fixed-top">
  <div class="nav-container">
    <%= render partial: "shared/navbar_brand" %>
    <% if current_user %>
      <%= render partial: "shared/user_nav" %>
    <% else %>
      <%= render partial: "shared/guest_functions" %>
    <% end %>
  </div>
</nav>
