<div class="table-responsive">
  <table class="table table-hover table-condensed table-products">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>venue</th>
        <th>category</th>
        <th>time</th>
        <th>description</th>
      </tr>
    </thead>
      <tr id= "1-product">
        <td><%= image_tag("http://www.designbolts.com/wp-content/uploads/2012/12/Denver-Nuggets-Logo-design.jpg", class:"admin-product-image") %></td>
        <td>game with ball</td>
        <td>center of pepsi</td>
        <td>Saturday, March 26th 2016</td>
        <td>family fun for everyone</td>
      </tr>
  </table>
</div>
