<h3>upcoming events</h3>
<br>
<p><a href="#">See all events</a></p>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr class="text-align-center">
        <th></th>
        <th></th>
        <th>event</th>
        <th>date</th>
        <th>time/venue</th>
        <th>description</th>
        <th>category</th>
        <th>tags</th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do %>
          <tr class="text-align-center">
            <th><img class="admin-product-image" src="http://s3.amazonaws.com/littleowl-turing/products/images/000/000/031/small/open-uri20160310-3-2dc6lz?1457653073" alt="Open uri20160310 3 2dc6lz?1457653073"></th>
            <th>
              <%= button_to "Create Listing", new_user_listing_path(current_user), method: :get %>
            </th>
            <th>Dinosaur.js</th>
            <th>2016-06-21</th>
            <th>7:30pm at Colorado Convention Center</th>
            <th>Big important conference</th>
            <th>conventions</th>
            <th>tech, multi-day</th>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
