<thead>
  <tr>
    <th><div class="text-center">event</div></th>
    <th><div class="text-center">venue</div></th>
    <th><div class="text-center">date</div></th>
    <th><div class="text-center">time</div></th>
    <th></th>
  </tr>
</thead>
