<tr>
  <td class="col-md-2"><%= link_to "#{tag.id}", admin_tag_path(tag.id), class: "text-left"%></td>
  <td class="col-md-6" class="text-left"><%= "#{tag.name}"%></td>
  <td class="col-md-2">
    <%= link_to "delete tag", admin_tag_path(tag.id), method: "delete", class:"btn btn-danger btn-s text-center" %>
  </td>
</tr>
