<div class="container">
  <div class="row">
    <div class="text-center form-div col-xs-6 col-xs-offset-3">
      <h1><small>create a tag for those eccentric events!</small></h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div id="new-tag" class="form-group form-div col-xs-6 col-xs-offset-3">
      <%= form_for [:admin, @tag] do |f| %>
        <div class="text-left">
          <%= f.label :name, "name" %>
          <%= f.text_field :name, class: "form-control text-input" %>
          <br>
        </div>
        <div class="text-center">
          <%= f.submit "create tag", class:"btn btn-little-owl form-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
