<div class="form-group text-center form-div stripe-checkout">
  <%= form_for(:order) do |f| %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description= "Get yo tickets"
    data-amount="<%= amount %>"
    data-locale="auto"
    data-billing-address= true
    data-shipping-address= true
    data-panel-label= "Total"
    data-label= "submit order">
    </script>
    <% end %>
  </div>

</div>
