<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>almost there!</h1>
  </div>
</div>
<div id="product" class="container">
  <div class="row">
  </div><br><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">event</th>
              <th class="text-center">row</th>
              <th class="text-center">seat</th>
              <th class="text-center">price</th>
              <th class="text-center">quantity</th>
              <th class="text-center">subtotal</th>
            </tr>
          </thead>
          <% 3.times do %>
            <tr>
              <td><%= image_tag('http://mortenbentzon.com/wp-content/uploads/2014/07/midnightsun_blog161-e1406761557421.jpg', class: "event-image-sm img-responsive") %></td>
                <td><h4>Sun Festival</h4></td>
                <td><h4>36</h4></td>
                <td><h4>5</h4></td>
                <td><h4>$100.00</h4></td>
                <td><h4>1</h4></td>
                <td><h4>$100.00</h4></td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="order-total">Total:</th>
              <th class="order-total">$300.00</th>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-sm-4 text-center checkout-con">
      <div class="cart text-center">
        <h3>Hey, user!</h3>
        <h4>Your total is $300.00</h4><br>
        <p>Click "submit order" below and you'll be asked all billing and shipping questions. Then bask in the knowledge that you will soon be attending a kick-ass event.</p>
          <%= render partial: "checkout_form", locals: {amount: 300 } %>
      </div>
    </div>
  </div>
</div>

<div class="continue-shopping-checkout">
  Not done yet?<span class="small-indent"></span><button class="btn btn-default btn-success">continue shopping</button>
</div>
