<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>look at this order.</h1>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="container past-order-review">
        <h3 class="order-id little">Order 111</h3>
        <h3 class="order-date">Purchased on: November 20, 2009</h3>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-13">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-products">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">event</th>
              <th class="text-center">status</th>
              <th class="text-center">venue</th>
              <th class="text-center">city</th>
              <th class="text-center">state</th>
              <th class="text-center">date</th>
              <th class="text-center">time</th>
              <th class="text-center">row</th>
              <th class="text-center">seat</th>
              <th class="text-center">price</th>
              <th class="text-center">quantity</th>
              <th class="text-center">subtotal</th>
            </tr>
          </thead>
          <% 3.times do %>
            <tr>
              <td><%= image_tag('http://mortenbentzon.com/wp-content/uploads/2014/07/midnightsun_blog161-e1406761557421.jpg', class: "event-image-sm img-responsive") %></td>
                <td>Sun Festival</td>
                <td class="status-text">UPCOMING</td>
                <td>Outside</td>
                <td>Cool Place</td>
                <td>Utah</td>
                <td>5/6/16</td>
                <td>8:00 PM</td>
                <td>26</td>
                <td>5</td>
                <td>$100.00</td>
                <td>3</td>
                <td>$300.00</td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="order-total">Total:</th>
              <th class="order-total">$900.00</th>
            </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
