.event-title {
  margin: 100px 50px 50px;
  font-size: 150%;
}

.tickets-title {
  margin: 100px 50px 50px 0;
  font-size: 100%;
}

.event-image-large {
  width: 425px;
  height:300px;
  overflow:hidden;
  margin-left: 50px;
}

.event-image-small {
  width: 350px;
  height:200px;
  overflow:hidden;
  margin-left: 50px;
}

.tab-space {
  padding-left: 1em;
}

.event-description {
  margin: 10px 10px 10px 50px;
  font-size: 120%;
}

.event-cancelled {
  margin: 10px 10px 10px 50px;
  font-size: 200%;
  color: red;
  font-weight: bold;
}

.limit-width {
  width: auto;
  max-width: 80%;
}
