.new-listing-title {
  margin: 150px 100px 0px;
  font-size: 100%;
  text-align: center;
}

.listing-title {
  margin: 50px 0px 20px;
  font-size: 100%;
}

.table-listings td {
  text-align: center;
}

.edit-form {
  padding-left: 8px;
}
