<tr id="<%= user.fullname %>">
  <td class="col-md-2"><%= link_to "#{user.id}","#" %></td>
  <td class="text-nowrap col-md-6"><%= link_to "#{user.name}","#"%></td>
  <td class="col-md-2">
    <select>
      <option selected="selected" value="active">active</option>
      <option value="suspended">suspended</option>
    </select>
  </td>
  <td class="col-md-2">
    <button class="btn btn-checkout btn-s">update status</button>
  </td>
</tr>
